# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.db
*.dev.yaml
*.log
*.deb

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
.vscode
.tools

